* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
}

.accordionContainer {
  width: 600px;
}

.firstAccordion {
  background-color: thistle;
  border-radius: 20px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  color: blue;
}

button {
  height: 30px;
  color: blue;
  background-color: transparent;
  border: none;
  font-size: 25px;
  transform: translateY(50%);
  cursor: pointer;
}
.d-none {
  display: none;
}

.paragraphContainer {
  border-top: 1px solid black;
  padding-top: 15px;
}
